<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="/img/elements/banana.jpg" class="card-img-top" alt="..." style="height: 174px;">
            <div class="card-body">
                <h5 class="card-title">Banana</h5>
                <p class="card-text"> 2.000 tambien connocida como platano en este disque pais, prueba de web ckekout dentro de la pagina</p>
                <form>
                    <script src="https://checkout.epayco.co/checkout.js" class="epayco-button" data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1" data-epayco-amount="2000" data-epayco-name="banana una libra" data-epayco-description="algo para comer" data-epayco-currency="cop"
                        data-epayco-country="co" data-epayco-test="true" data-epayco-external="false" data-epayco-response="https://ejemplo.com/respuesta.html" data-epayco-confirmation="https://ejemplo.com/confirmacion">
                    </script>
                </form>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/elements/tomato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tomate fresco</h5>
                <p class="card-text">1.500 prueba de checkout fuera de la pagina </p>
                <form>
                    <script src="https://checkout.epayco.co/checkout.js" class="epayco-button" data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1" data-epayco-amount="1500" data-epayco-name="tomate una libra" data-epayco-description="pa la ensalada" data-epayco-currency="cop"
                        data-epayco-country="co" data-epayco-test="true" data-epayco-external="true" data-epayco-response="https://ejemplo.com/respuesta.html" data-epayco-confirmation="https://ejemplo.com/confirmacion">
                    </script>
                </form>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/elements/meat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carne</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/elements/tomato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tomate fresco</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>